.ErrorPage{
    display: flex;
    flex-direction: column;
}

.errorCode{
    font-size: 3cm;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
}

.errorMessage{
    font-size: 2em;
    margin: auto;
    margin-top: 10px;
    max-width: 1000px;
}